<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://kit.fontawesome.com/76d25d6fff.js" crossorigin="anonymous"></script>

</head>

<body class="about">
    <header>
        <nav class="menu">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/music">music</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
        </nav>
        <nav class="redes">
            <a href=""><i class="fab fa-twitter-square"></i></a>
            <a href=""><i class="fab fa-facebook-square"></i></a>
            <a href=""><i class="fab fa-instagram-square"></i></a>
            <a href=""><i class="fab fa-spotify"></i></a>
            <a href=""><i class="fab fa-apple"></i></a>
            <a href=""><i class="fab fa-amazon"></i></a>
        </nav>
    </header>
    <main>
        <h1>
            about <br />
            emilia //
        </h1>
        <article>
            <h4>
                "Seattle-based pop star makes her <br> indie debut with a hauntingly
                beautiful album"
            </h4>
            <p>
                - John Tirckle, Music Today Post
            </p>
        </article>
        <article>
            <h4>
                "Emilia Cole is one of the <br> scene's breakout stars"
            </h4>
            <p>
                - John Tirckle, Music Today Post
            </p>
        </article>
       
    </main>
</body>

</html>