<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/76d25d6fff.js" crossorigin="anonymous"></script>
</head>

<body class="home">
        <header>
            <nav class="menu">
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/about">about</a></li>
                    <li><a href="/music">music</a></li>
                    <li>
                        <ul>
                            <li style="margin-left: 20px;"><a href="/music#organic">Organic Love</a></li>
                            <li style="margin-left: 20px;"><a href="/music#street">Twist in my reality</a></li>
                        </ul>
                    </li>
                    <li><a href="/contact">contact</a></li>
                </ul>
            </nav>
            <nav class="redes">
                <a href=""><i class="fab fa-twitter-square"></i></a>
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-instagram-square"></i></a>
                <a href=""><i class="fab fa-spotify"></i></a>
                <a href=""><i class="fab fa-apple"></i></a>
                <a href=""><i class="fab fa-amazon"></i></a>
            </nav>
        </header>
        <main>

        <h2>emilia <br> cole //</h2>
        <h1>twist in my reality</h1>
    </main>

</body>

</html>