.home{
    background-image: url('/images/emilia-home.jpg');
    background-size: 73% 100vh;
    background-repeat: no-repeat;
    background-position: right top;
    font-family: 'Open Sans';
    text-transform: uppercase;
}
.home .menu {
    margin-top: 20px;
    line-height: 30px
}

.home .redes{
    margin-top: 10px;
}
.home .menu, .redes, h2{
    margin-left: 30px;
}

.home .menu a{
    color: gray;
}

.home .redes a{
    color: black;
}

.home h2{
    margin-top: 80px;
    margin-bottom: 30px;
    font-family: 'Work Sans';
    font-size: 46px;
    line-height: 40px;
    letter-spacing: 5px;
    font-weight: 100;

}
.home h1{
    font-size: 70px;
    font-family: 'Raleway';
    margin: 0 10px;
    margin-top: 130px;
    background-color: rgba(255, 255, 255, 0.5);
}